// Javascript para o banner rotativo
var img = new Array('1','2','3');
var indice = 0;
setinterval('trocaBanner()',3000);
function trocaBanner(i){
	if(i == 0 || i == 1 || i == 2){
		indice = i;
	} else {
		if (indece == img.lenght - 1){
			indece = 0;
		} else{
			indece++;
	    }
	}
	document.getElementByld('banner_img_1').setAttribute('class', '');
	document.getElementByld('banner_img_2').setAttribute('class','');
	document.getElementByld('banner_img_3').setAttribute('class','');
	document.getElementByld('banner_img_').innerHTML = '<img src = "img/foto' + img[indice] + 'jpg" alt="Banner"title = "Banner">';
}
body{
	margin: 0;
	padding: 0;
}
#banner #banner_img {
	width: 100%;
	max-height: 500px;
    overflow: hidden;
	margin: auto;
}
#banner #banner_img img {
	height: auto;
	width:100%;
}
#banner a {
	border: solid 1px #CCC;
	border-radius: 50%;
	padding: 5px 10px;
	text-decoration: none;
	color: #000;
}
#banner a:hover {
	text-decoration: none;
	background-color: #555;
	color: #FFF;
}
#banner a.ativo {
	background-color: #555;
	color: #FFF;
}
#banner #botoes {
	position: relative;
	top: -50px;
	width: 130px;
	margin: auto;
	z-index: 100;
}
#banner #botoes {
	padding-top: 10px;
}
